.menu__container {
    margin-top: 10px;
    position: relative;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    margin-bottom: -87px;
        li {
            display: block;
        }
}

